
.game-text-container {
  position: relative;
  padding: 25px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.game-page {
  padding: 35px 0;
}

.game-page-wrapper {
  padding: 35px;
}

.game-text {
  font-size: 20px;
  line-height: 1.7em;
  font-family: "Reddit Mono", monospace;
  font-weight: 400;
}

.player-car-wrapper {
  display: flex;
  align-items: center;
}

.player-name {
  width: 65px;
  font-size: 13px;
}

.player-car-image {
  cursor: pointer;
}

.racer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.player-way {
  border-bottom: 1px dashed rgb(146, 144, 144);
  min-width: 95%;
}

.game-menu-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}