.navbar {
  background-color: white;
}

.navbar-wrapper {
  display: flex;
  padding: 15px 0;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.navbar-menu .navbar-link {
  padding-right: 20px;
  color: #1677ff;
  text-decoration: none;
}

.navbar-auth-button {
  margin-left: 10px;
  font-size: smaller;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 7px;
}

.button-primary {
  background-color: #1677ff;
  border: 1px solid #1677ff;
  color: white;
}

.button-default {
  border: 1px solid #1677ff;
  color: #1677ff;
}

.navbar-logo {
  cursor: pointer;
}